extends layout

block content
    h1 Carregamento de curriculos
    h2 Faça upload dos curriculos
    form(method="post", name="form1", action="/upload", enctype="multipart/form-data")
      fieldset
        legend Upload curriculos
        input(type="file", name="singleFile" multiple)
      fieldset
        legend Descreva a vaga
        textarea(name="desc", cols="222", rows="10")
      fieldset
        legend Quantidade na lista
        input(type="number", name="qtRet")
      br
      div.actions
        button.btn.primary(type="submit") Upload
        p
        button.btn.cancel(type="button") Cancel
