doctype
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src="/js/jquery-3.2.1.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/arquivos.js")
  body
    block content
